<% provide(:title, 'Home') %>

<div class="center">
<div class="home-wrapper">
<div class="home-message">
  <h1>Welcome to the Turtle App</h1>
  <%= link_to "", signup_path, class: "btn btn-lg" %>
  <div class="click-me">Click me to signup!</div>
</div>
</div>

</div>